body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.books-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  top: 0;
  flex-direction: column;
  padding: 10px;
}

.search-box {
  display: flex;
  align-items: center;
}

input[id="movie_name"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  background-color: transparent;
  color: black;
}

input[id="movie_name"]:focus{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-dis {
  display: none;
}
.btn:hover {
  background-color: #0056b3;
}

.search-results {
  width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none; 
}

.search-results.show {
  display: block;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  color: black;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(15% - 0px);
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.item img {
  max-width: 100%;
  height: auto;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.add-to-playlist {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-playlist:hover {
  background-color: #218838;  
}

.button-container {
  position: absolute; 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.add-to-playlist {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-playlist:hover {
  background-color: #218838;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
}

.in1 {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn1 {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-movie {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  color: #000000;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  width: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
